body {
  background-color: #ffffff;
  color: #0000FF;
  font-size: 14px;
  line-height: 22px;
}

.story-text {
  color: #000000;
}

p {
  padding-bottom: 30px;
}

.author {
  padding-bottom: 40px;
}


figcaption {
  font-size: 12px;
  font-style: italic;
}

h1 {
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: lighter;
  line-height: 22px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

li:hover {
  background-color: #E6AC97;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
